/* Enter your custom styles here */
.padding1 {
    padding: 1rem !important; 
}
.header {
    background-color: #f2f2f2;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.30196078431372547), 0px -1px 0px 0px rgba(217, 217, 217, 1) inset;

}
.DialogHeader {
    border-bottom: 1px solid #d9d9d9;
}
.DialogTitle {
    color: #03a113;
    font-weight: bold;
}
.BoldText {
    font-weight: bold !important;
}
.OrderTypeBold[data-Bold="X"] {
    font-weight: bold !important;
}
.padding1Top {
    padding-top: 1rem !important; 
}
.padding1right {
    padding-right: 1rem !important; 
}